<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>toDoList</title>
		<script src="js/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<div>
				<input type="text" v-model="inputValue" />
				<button @click="handle">提交</button>
			</div>
			<ul>
				<todo-item
					v-for="(item, index) of list"
					:key="index"
					:content="item"
					:i="index"
					@delete="handleDelete">
				</todo-item>
			</ul>
		</div>
		<script>
			Vue.component("todo-item", {
				props: ["content", "i"],
				template: "<li @click='handleClick'>{{content}} {{i}}</li>",
				methods: {
					handleClick: function() {
						this.$emit("delete", this.i);
					}
				}
			});
			
			new Vue({
				el: "#root",
				data: {
					inputValue: "",
					list: []
				},
				methods: {
					handle: function() {
						this.list.push(this.inputValue);
						this.inputValue = "";
					},
					handleDelete: function(index) {
						this.list.splice(index, 1)
					}
				}
			})
		</script>
	</body>
</html>
